.TableCell{
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}
#addButton{
    margin: auto;
    text-align: center;
    border: 1px dashed black;
    border-radius: 1em;
    width: 60%;
    justify-content: center;
    vertical-align: center;
}
.TableCell p{
    justify-content: center;
    text-align: center;
}