.TableCell{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#detailButton{

}
#addButton{
    text-align: center;
    border: 1px dashed black;
    border-radius: 1em;
    width: 5vw;
}