.texts{
    margin-right: 2vw;
    margin-top: 0.6vw;
}
.setWeekTab{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2vh;
    background-color: papayawhip;
}
#refreshButton{
    margin-left: 2vw;
    background-color: #3F497F;
}