#texts{
    margin-right: 1vw;
    margin-top: 0.5vw;
}
.setWeekTab{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2vh;
    background-color: papayawhip;
}
#refreshButton{
    margin-left: 1vw;
    background-color: #3F497F;
}
#globalAddButton{
    width: 6.5vw;
    margin-left: 1vw;
    background-color: #3F497F;
    color: white;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
}